<!DOCTYPE html>
<html>
<head>
  <title>Inotex</title>
  <%= javascript_include_tag "http://a.vimeocdn.com/js/froogaloop2.min.js", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>


  <%= csrf_meta_tags %>
</head>
<body>

<div id="preloader"><div id="status"></div></div>
<div class="section wrapper">
    <%= render partial: 'layouts/ordinary_cms/header'%>
    <%= yield %>
    <%= render partial: 'layouts/ordinary_cms/footer'%>
</div>
<%= javascript_include_tag   "application", media: "all", "data-turbolinks-track" => true %>

</body>
</html>
